<!DOCTYPE html>
<html>
  <head>
     <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="js/jquery-1.12.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <title>Crescendo Clothing Co</title>
  </head>
  <body>

    <!-- Side Nav Bar -->
      <ul id="slide-out" class="side-nav">
        <li>Crescendo Clothing Co.</li>
        <span class="exitSideNav">X</span>
        <li>Have an account?<li>
        <li><a href="#">Sign In</a></li>
        <li>Women</li>
        <li><a href="#">Pants</a></li>
        <li><a href="#">Shirts</a></li>
        <li><a href="#">Jackets</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Beanies</a></li>
        <li>Men</li>
        <li><a href="#">Pants</a></li>
        <li><a href="#">Shirts</a></li>
        <li><a href="#">Jackets</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Beanies</a></li>
        <li>About Us</li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">SevenL</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <!-- End Side Nav -->

      <!-- Top Nav Bar -->
      <div class="nav">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="small mdi-navigation-menu"></i>
        </a>
        <span class="navBarContent">
        <ul>
          <li><a href="#" data-activates="slide-out" class="button-collapse">SHOP</a></li>
          <li><a href="index.html">Crescendo</a></li>
          <li><a href="#">Sign In</a>&nbsp; | </li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        </span>
      </div>
    <!-- End Top Nav Bar -->

    <!-- Header -->
    <header class="universalHeader">
    </header>
    <!-- End Header -->

    <!-- Middle Content -->

<h1 class="mainTitle">Your Cart</h1>

    <div class="container">

      <div class="universalFont">
        <div class="checkout">
          {% if session.cart is not empty %}
          <p>Here is your cart:</p>
          <ul>
          {% for products in session.cart %}
              <li>{{findProduct(session.cart[loop.index0][0]).getName}}</li>
              <li>${{findProduct(session.cart[loop.index0][0]).getPrice}}</li>
              <li>Quantity: {{session.cart[loop.index0][1]}}</li>
          {% endfor %}
          </ul>
          <h2>Cart Total: ${{ total_price }}</h2>
          {%else%}
          <h3>No items! Get shopping!</h3>
          {% endif %}
          <p>
            <a class="waves-effect waves-light btn" href="/keep_shopping">Keep Shopping</a>
          </p>
          <p>
            <a class="waves-effect waves-light btn" href="/checkout">Go to Checkout</a>
          </p>
          <p>
              <a class="waves-effect waves-light btn" href="/">Home</a>
          </p>
          <p>
              <a class="waves-effect waves-light btn" href="/cart/delete">Delete</a>
          </p>
        </div>
      </div>
    </div>
    <!-- End Middle Content -->

<!-- Footer  -->
    <footer>
      <img src="img/sevenL.jpg">
      <span class="sevenL">
        <h3>SevenL</h3>
        <p>At Crescendo, we strive to make great clothing. With SevenL, we tell the stories of the humans who wear it.</p>
        <a href="#">READ THE LATEST POST</a>
      </span>
      <span class="footerLinksContainer">
      <span class="footerLinks">
        <ul>
          <li><a href="#">HELP</a></li>
          <li><a href="#">RETURNS</a></li>
          <li><a href="#">REDEEM GIFT</a></li>
          <li><a href="#">FIND A STORE</a></li>
          <li><a href="#">PRIVACY POLICY</a></li>
        </ul>
      </span>
      <span class="footerLinks2">
        <ul>
          <li><a href="#">EMAIL US</a></li>
          <li><a href="#">1(800) 382-5968</a></li>
          <li><a href="#">GIVE US FEEDBACK</a></li>
          <li><a href="#">TERMS</a></li>
          <li><a href="#">JOBS</a></li>
        </ul>
      </span>
      </span>
      <span class="footerBeFirst">
        <h3>BE FIRST</h3>
        <p>Want exclusive offers and first access to products? Sign up for email alerts.</p>
        <form class="input-field">
          <label class="inputColor" for="email">Enter Your E-mail</label>
          <input id="email" type="email" class="validate"><button class="btn waves-effect waves-light" type="submit" name="action">Submit
          </button>
       </form>
       <p>
         <span class="socialMedia">
           <i class="fa fa-instagram"></i>
           <i class="fa fa-youtube"></i>
           <i class="fa fa-twitter"></i>
           <i class="fa fa-facebook"></i>
         </span>
       </p>
      </span>
    </footer>

    <!-- End Footer -->
  </body>
</html>
