<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        {% include '/includes/header.html.twig' %}


        <!-- Insert stuff here -->

        {% include '/includes/footer.html.twig' %}
    </body>
</html>
