<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        {% include '/includes/header.html.twig' %}

        {% if session.cart is not empty %}
        <p>Here is your cart:</p>
        <ul>
        {% for products in session.cart %}
            <li>{{findProduct(session.cart[loop.index0][0]).getName}}</li>
            <li>${{findProduct(session.cart[loop.index0][0]).getPrice}}</li>
            <li>Quantity: {{session.cart[loop.index0][1]}}</li>
        {% endfor %}
        </ul>
        <h2>Cart Total: ${{ total_price }}</h2>
        {%else%}
        <h3>No items! Get shopping!</h3>
        {% endif %}
        <p>
          <a href="/">Keep Shopping</a>
        </p>
        <p>
          <a href="/checkout">Go to Checkout</a>
        </p>
        <p>
        </p>
        <p>
            <a href="/cart/delete">Delete</a>
        </p>
        {% include '/includes/footer.html.twig' %}
    </body>
</html>
