<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>


        {% if session.cart is not empty %}
        <p>Here is your cart:</p>
        <ul>
        {% for products in session.cart %}
        {% set product = products[0] %}
        {% set quantity = products[1] %}
            <li>{{ product.getName }}</li>
            <li>${{ product.getPrice }}</li>
            <li>Quantity: {{ quantity }}</li>
        {% endfor %}
        </ul>

            <ul>

            </ul>

        <h2>Your total price is ${{ total_price }}</h2>
        {% endif %}
        <p>
            <a href="/">Home</a>
        </p>
        <p>
            <a href="/cart/delete">Delete</a>
        </p>

    </body>
</html>
