<!DOCTYPE html>
<html>
    {% include '/includes/head.html.twig' %}
    <body>
        {% include '/includes/navbar.html.twig' %}
        {% include '/includes/header.html.twig' %}

        

        {% include '/includes/footer.html.twig' %}
    </body>
</html>
