<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
    <!-- Header Video -->
        <header>
            <video autoplay loop>
                <source src="/../img/clothing.mp4" type="video/mp4" />
            </video>
            <h1>Crescendo Co</h1>
            <p>Rise above with style</p>
        </header>
    <!-- End Video Header -->

      <!-- Middle Content -->

        <section class="styles">
            <img src="/../img/stylesPic.jpg" alt="A pic of a girl trying on a hat">
            <div>
                <h1>Crescendo Styles</h1>
                <p>Take your look to the next level. <br>
                Design a wardrobe with the style that's unique to you.</p>
                <span class="stylesButton">Find Out More</span>
            </div>
        </section>

        <section class="bottomStyles">
            <h1>We know our fit.</h1>
            <p>Crescendo started with a better fitting pair of pants. Today, we offer a full collection of menswear and womenswear, with a range of great fit options for all builds and preferences. It's our job to make sure you look good.</p>
            <span class="bottomStylesButton">READ HOW IT ALL BEGAN</span>
        </section>

        <section class="shippingNinjaContainer">
            <div class="shipping">
                <h3>FREE SHIPPING</h3>
                <p>Your order will be delivered right to your door at no extra charge. Ditto for returns. It doesn't get easier than that</p>
                <a href="#">SEE DETAILS</a>
            </div>
            <div class="verticalLine"></div>
            <div class="ninja">
                <h3>SERVICE THE NINJA WAY</h3>
                <p>If you have comments, questions, or issues, our customer service Ninjas are always on call. Need help? Call a Ninja.</p>
                <a href="#">CONTACT US</a>
            </div>
        </section>

      <!-- End Middle Content -->

      {% include '/includes/footer.html.twig' %}
    </body>
</html>
