<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        {% include '/includes/header.html.twig' %}
        <h1 class="mainTitle">Login</h1>

        <div class="container">
          <div class="universalFont">
             {% if checkout %}
             <form action="/checkout" method="get">
             {% else %}
             <form action="/logged_in" method="get">
             {% endif %}
                <label for="email">Email Adress</label>
                <input type="text" name="email" value="">

                <label for="password">Password</label>
                <input type="password" name="password" value="">

                <button class="waves-effect waves-light btn" type="submit" name="button">Sign in</button>
            </form>
            {% if error_message %}
                <p>{{error_message}}</p>
            {% endif %}
            <form class="" action="/register" >
                <p><button class="waves-effect waves-light btn" type="submit" name="button">Not yet a member? Register!</button></p>
            </form>

            <form class="" action="/" >
                <p><button class="waves-effect waves-light btn" type="submit" name="button">Start Shopping!</button></p>
            </form>
          </div>
        </div>
        {% include '/includes/footer.html.twig' %}
    </body>
</html>
