<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        {% include '/includes/header.html.twig' %}
        <form action="/logged_in" method="get">
            <label for="email">Email Adress</label>
            <input type="text" name="email" value="">

            <label for="password">Password</label>
            <input type="password" name="password" value="">

            <button type="submit" name="button">Sign in</button>
        </form>
        {% if error_message %}
            <p>{{error_message}}</p>
        {% endif %}
        <form class="" action="/register" >
            <button type="submit" name="button">Not yet a member? Register!</button>
        </form>

        <form class="" action="/" >
            <button type="submit" name="button">Start Shopping!</button>
        </form>
        {% include '/includes/footer.html.twig' %}
    </body>
</html>
