<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        <form action="/logged_in" method="get">
            <label for="email_address">Email Adress</label>
            <input type="text" name="email_address" value="">

            <label for="password">Password</label>
            <input type="text" name="password" value="">

            <button type="submit" name="button">Sign in</button>
        </form>

        <a href="/">Home</a>
    </body>
</html>
