<form action="/logged_in" method="get">
    <label for="email_address">Email Adress</label>
    <input type="text" name="email_address" value="">

    <label for="password">Password</label>
    <input type="text" name="password" value="">

</form>

<form action="/logged_out" method="post">
    <label for="logout">Log Out</label>
    <input type="button" name="logout" value="">

</form>
