<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}

        {% for product in products %}
            <img src='{{ product.getImg }}'>
            <p>{{ product.getName }}</p>
            <p>{{ product.getPrice }}</p>
            <img src="{{ product.getImg }}">
        {% endfor %}
        {% include '/includes/footer.html.twig' %}
    </body>
</html>
