<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}

        <!-- we want to display an image of product, name of product, price, form to determine quantity and an add to cart button


    logic to show if item has been added to cart {% if product added to cart %} then display confirmation message on the same page-->

    </body>
</html>
