<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        <h3>Thank you for registering, {{ user.getName }}!</h3>
        <p>An email has been sent to {{user.getEmail}} with additional information.</p>

        <a href="/home">Let's get shopping!</a>
    </body>
</html>
