
    <form action='/add_item' method='post'>
        <input id="product_id" name="product_id" type="hidden" value="{{ product.getId }}">
        <label for="qty">Select how many:</label>
        <select id='qty' name='qty' type='text'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type='submit'>Add quantity</button>
    </form>
