header {
  margin: 0;
  position: relative;
  background-color: lighten($charcoal, 25%);

  video {
    margin-top: 3.3em;
    margin-bottom: -6px;
    opacity: .3;
    width: 100%;
  }
  h1 {
    @include fontBasics("AlexBrush", $color:white, $font-size: 10em);
    @include position(absolute, $width: 100%, $bottom: 25%);
    @extend %textCenter;
  }
  p {
    @include fontBasics("AlexBrush", $color:white, $font-size: 2.6em);
    @include position(absolute, $width: 100%, $bottom: 25%);
    @extend %textCenter;
  }
}

.hipsterPants {
  background-image: url("../img/hipsterPants.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}
.styles {
  padding: 5%;
  display: flex;
  margin-top: 0;
  height: 75%;
  width: 100%;

  img {
    height: auto;
    width: 40vw;
    align-self: center;
  }
  div {
    width: 100%;
    text-align: right;
    padding-left: 10%;
    align-self: center;
    h1 {
      @include fontBasics("AlexBrush", $font-size: 3em);
      height: 30%;
    }
    p {
      @include fontBasics("Raleway");
      height: 20%;

    }
  }
}
.bottomStyles {
  background-image: url("../img/hipster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  h1 {
    @include fontBasics("AlexBrush", $color: $white, $font-size: 2.6em);
    height: 10% !important;
  }
  p {
    @include fontBasics("Raleway", $color: $white);
    width: 32%;
    height: 24%;

  }
}

.shippingNinjaContainer {
  padding: 5%;
  display: flex;
  text-align: center;
  h3 {
    @include fontBasics("Raleway", $font-size: 1.5em);
    font-weight: bold;
  }
  .shipping {
    padding: 5%;
    align-self: center;
    width: 50%;
    p {
      color: $grey;
      font-size: 1em;
    }

  }
  .ninja {
    padding: 5%;
    align-self: center;
    width: 50%;
    p {
      color: $grey;
      font-size: 1em;
    }
  }
  .verticalLine {
    border-left: 1px solid $black;
  }
}

footer {
  @include fontBasics("Raleway", $color: $nav-grey, $font-size: .90em);
  background-color: $charcoal;
  width: 100%;
  display: flex;
  padding: 0 2% 2% 2%;

  img {
    height: 10vh;
    align-self: center;
    padding-right: 4%;
  }
  .sevenL {
    align-self: center;
    width: 40%;
    align-items: flex-start;
    padding-right: 4%;

    a {
      color: lighten(#608A89, 10%);
      &:hover {
        color: lighten(#608A89, 20%);
      }
    }
    h3 {
      @extend %h3;
    }
  }
  .footerContainer {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 50%;
    height: 20vh;
    clear: both;

    a {
      font-weight: bold;
      color: lighten(black, 40%);
      &:hover {
        color: lighten(#608A89, 20%);
      }
    }
  }
  .footerLinks {
    float: left;
    width: 50%;
    line-height: 2;
    clear: both;
  }
  .footerLinks2 {
    float: right;
    clear: both;
    line-height: 2;
    width: 49%;
  }
  .footerBeFirst {
    margin-top: 8%;
    width: 40%;
    display: flex;
    align-content: center;
    flex-direction: column;
    .inputColor {
      color: $white !important;
    }
    h3 {
      @extend %h3;
    }
    .fa {
      color: lighten(#608A89, 20%);
      font-size: 2em;
      padding-right: 5%;
      &:hover {
        color: $white;
        transition: all .2s ease-in-out;
        transform: scale(1.3);
        cursor: pointer;
      }
    }
  }
}
