
// Main Page Header
header {
  margin: 0;
  position: relative;
  background-color: lighten($charcoal, 25%);

  video {
    margin-top: 3.3em;
    margin-bottom: -6px;
    opacity: .3;
    width: 100%;
  }
  h1 {
    @include fontBasics("AlexBrush", $color:white, $font-size: 10em);
    @include position(absolute, $width: 100%, $bottom: 25%);
    @extend %textCenter;
    @media (max-width: 450px) {
      font-size: 3em;
    }

  }
  p {
    @include fontBasics("AlexBrush", $color:white, $font-size: 2.6em);
    @include position(absolute, $width: 100%, $bottom: 25%);
    @extend %textCenter;
    @media (max-width: 450px) {
      display: none;
    }


  }
}

//Main Page Top Middle Content
.styles {
  padding: 5%;
  display: flex;
  margin-top: 0;
  height: 75%;
  width: 100%;

  img {
    height: auto;
    width: 40vw;
    align-self: center;
  }
  div {
    width: 100%;
    text-align: right;
    padding-left: 10%;
    align-self: center;
    h1 {
      @include fontBasics("AlexBrush", $font-size: 3em);
      height: 30%;
    }
    p {
      @include fontBasics("Raleway");
      height: 20%;

    }
  }
}

//Main Page Bottom Middle Content
.bottomStyles {
  @include backgroundImg("../img/hipster.jpg", $backRep: no-repeat, $backSize: cover);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  h1 {
    @include fontBasics("AlexBrush", $color: $white, $font-size: 2.6em);
    height: 10% !important;
  }
  p {
    @include fontBasics("Raleway", $color: $white);
    width: 32%;
    height: 24%;

    @media (max-width: 450px) {
      width: 50vw;

    }
  }

}

// Main Page Shipping Section
.shippingNinjaContainer {
  padding: 5%;
  display: flex;
  text-align: center;
  h3 {
    @include fontBasics("Raleway", $font-size: 1.5em);
    font-weight: bold;
  }
  .shipping {
    padding: 5%;
    align-self: center;
    width: 50%;
    p {
      color: $grey;
      font-size: 1em;
    }

  }
  .ninja {
    padding: 5%;
    align-self: center;
    width: 50%;
    p {
      color: $grey;
      font-size: 1em;
    }
  }
  .verticalLine {
    border-left: 1px solid $black;
  }
}

//Universal Header
.universalHeader {
  @include backgroundImg("../img/mostlyMainHeader.jpg", $backRep: no-repeat, $backSize: cover);
  height: 60vh;
  width: 100%;
}

//Universal Container
.container {
  margin-bottom: 5%;
}

//Product Page Middle Content
  //Header
.hipsterPants {
  @include backgroundImg("../img/fashion.jpg", $backRep: no-repeat, $backSize: cover);
  height: 60vh;
  width: 100%;
}
  //Product Page Content
.mainTitle {
  @include fontBasics("AlexBrush", $font-size: 6em);
  @extend %textCenter;
}

.articleClothing {
  height: 100vh;
  width: 100%;
  aside {
    @extend %textCenter;
    display: block;
    float: left;
    clear: both;
    width: 50vw;
    border: 10px solid #F4F4F4;
    margin: 0 2% 10px 5%;
    text-align: center;
    h1 {
      @include fontBasics("AlexBrush", $font-size: 3.7em);
    }
    p {
      @include fontBasics("Raleway", $color: $nav-grey, $font-size: 1.3em);
      padding: 0 4%;
    }
    img {
      display: block;
      height: auto;
      width: 100%;
      margin-bottom: 0;

    }
    .available {
      @include fontBasics("Raleway", $font-size: .85em);
      font-weight: bolder;
    }
    @media (max-width: 450px) {
      width: 70%;
      margin-right: 15%;
      margin-left: 15%;

    }
  }
  .productBoxContainer {
    display: block;
    width: 100%;

    .productBox {
      margin: 0 2% 2% 0;
      float: left;
      width: 18%;
      height: 50%;
      text-align: center;
      img {
        width: 80%;
        height: auto;
      }
      h4 {
        margin: 0;
        padding: 0;
      }
      @media (max-width: 450px) {
        height: 100%;
        width: 75vw;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
      }
    }
  }

}

// Single Product Content
.mainProductTitle {
  @include backgroundImg("../img/productFashionHeader.jpg", $backRep: no-repeat, $backSize: cover);
  height: 60vh;
  width: 100%;
}
.productInfoBox {
  @include fontBasics("Raleway");
  @extend %textCenter;
  padding: 5%;
  margin-right: 2em;
  margin-top: 3em;
  width: 40%;
  height: 50%;
  border: 2px solid $teal;
  float: right;
}

// Checkout Page Content
.checkout {
  text-align: center;
}
