// Colors //
$white: white;
$black: black;
$charcoal: #333333;
$grey: #838F8D;
$teal: #008080;

// Functional Colors //
$nav-grey: $grey;

// Zero for Padding/Margins //


// Asset Paths //
$path-font: "../font";
